<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="/views/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="/views/css/stylePerso.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body>
    <div class="container fond">

        <div class="row center-block mt-3">
            <div class="col-12">
                <header>
                    <img src="/images/header.png" alt="header" class="image"/>
                </header>
            </div>
        </div>

        <div class="row mt-4 mb-3">
                <nav class="col navbar navbar-expand-lg couleur-sommaire">
                    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item"><a href="/sommaire" class="nav-link couleur-texte">Sommaire</a></li>
                            <li class="nav-item"><a href="https://www.goodreads.com/user/show/88305983-chillingbook" class="nav-link couleur-texte">GoodReads</a></li>
                            <li class="nav-item"><a href="https://www.tvtime.com/fr/user/1618343/profile" class="nav-link couleur-texte">TV Show Time</a></li>
                            <li class="nav-item"><a href="/send/contact" class="nav-link couleur-texte">Me contacter</a></li>
                        </ul>
                    </div>  
                </nav>
        </div>

        <div class="row text-center">
            <div class="col-12 col-lg-3">
                <% presentations.forEach(function(presentation) { %>
                <div class="card mb-4">
                    <div class="card-body text-left text-lg-center">
                        <h5 class="card-title"><%= presentation.title %></h5>
                        <p class="card-text px-1"><%- presentation.description %></p>
                    </div>
                </div>
                <% }); %>
            </div>

            <div class="col-12 col-lg-6 fond-blanc mb-3">
                <h1 class="mt-4" style="font-size: 1.25rem;"><%= article.title %></h1>
                <div class="text-muted mb-2">
                    Publié le : <%= article.createdAt.toLocaleDateString("fr-CA") %>  |
                    <form action="/postlike/<%= article.id %>" method="POST" style="display: inline;" id="like">
                        <button type="submit" class="like">❤️</button>
                    </form> <span class="ml-1" id="nbLikes"><%= article.likes %></span>
                </div>
                <img class="card-img mb-3" src="<%= article.imageUrl %>" alt="Photo de l'article" />
                <p><%- article.description %></p>
                <br />
                <a href="/" class="btn bouton mb-3">Tous les articles</a>

                <div class="my-4" id="commentPost">
                    <h3>Laisser un commentaire</h3><br />

                    <form action="/<%= article.id %>" method="POST" id="formComment">
                        <div class="form-group">
                            <label for="pseudo">Pseudo: </label>
                            <input type="text" class="form-control" name="pseudo" id="pseudo" required/>
                        </div>
                        <div class="form-group">
                            <label for="title">Titre: </label>
                            <input type="text" class="form-control" name="title" id="title" required/>
                        </div>
                        <div class="form-group">
                            <label for="comment">Commentaire: </label>
                            <textarea class="form-control" name="comment" id="comment" required></textarea>
                        </div>
                        <button type="submit" id="btnComment" class="btn btn-primary">Commenter</button>
                    </form>
                </div>
                
                <div class="panel panel-default widget mt-4" id="allComments">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">Commentaires: <span class="mx-4"><%= article.comments.length %></span></h3>
                    </div>

                    <div class="panel-body">
                        <% if (article.comments.length > 0) { %>
                        <% article.comments.forEach(function(comment) { %>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="text-left">
                                        <div>
                                            <%= comment.title %>
                                            <div class="mic-info text-muted">
                                                Par: <%= comment.pseudo %> le <%= comment.created.toLocaleDateString() %>
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            <p><%= comment.comment %></p>
                                        </div>
                                        <% if (comment.reply.length > 0) { %>
                                            <div>
                                            <ul>
                                                <% comment.reply.forEach(function(reply) { %>
                                                <li class="my-3">
                                                    <div>
                                                        <%= reply.pseudo %>
                                                        <div class="mic-info text-muted">
                                                            <%= reply.create.toLocaleDateString() %>
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <%= reply.reply %>
                                                    </div>
                                                </li>
                                                <% }); %>
                                            </ul>
                                            </div>
                                            <% } %>
                                </div>
                            </li>
                        </ul>
                        <% }); %>
                        <% } else { %>
                            <p>
                                Il n'y a pas encore de commentaires.
                            </p>
                        <% } %>
                    </div>
                </div>

            </div>

            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-body text-lg-center marge-int">
                        <h5 class="card-title my-3">Instagram</h5>
                        <p class="card-text">
                            <div id="instafeed-container"></div>
                        </p>
                    </div>
                </div>


                <button type="button" class="btn bouton mt-5" id="btnAbonner">M'abonner</button>
                <div id="form"></div>
            </div>
        </div>
    </div>
    <div class="bg-light mt-5">
        <div class="container">
            <div class="row pt-4 pb-3">
                <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item text-muted" style="font-size: x-small;">Site crée par <a href="#">Imad ELMAHRAD</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/views/dynamicjs/jquery-3.5.1.min.js"></script>
    <script src="/views/dynamicjs/popper.min.js"></script>
    <script src="/views/dynamicjs/bootstrap.min.js"></script>
    <script src="/views/dynamicjs/forms.js"></script>
    <script src="/views/dynamicjs/comments.js"></script>
    <script src="/views/dynamicjs/instafeed.min.js"></script>
    <script type="text/javascript" src="/views/dynamicjs/insta.js"></script>
    <script type="text/javascript" src="/views/dynamicjs/likes.js"></script>
</body>
</html>
